In [14]:
import pandas as pd
import numpy as np
import datetime
from datetime import date

In [15]:
data_netflix = pd.read_csv('./netflix_titles_data.csv', sep=';', encoding='UTF-8')
df_netflix = pd.DataFrame(data_netflix)

data_disney = pd.read_csv('./disney_plus_titles_data.csv', sep=',', encoding='UTF-8')
df_disney = pd.DataFrame(data_disney)

**Iniciamos con un analisis exploratorio de los datos para determinar que campos tenemos, que tipo de dato estan almacenando y que cantidad de informacion nula hay en el archivo original**

In [16]:
df_netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [17]:
df_disney.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [18]:
df_netflix.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year    object
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [19]:
df_disney.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [20]:
df_disney.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
232,s233,TV Show,Star Wars Vehicle Flythroughs,NaN,NaN,NaN,"May 4, 2021",2021,TV-G,1 Season,"Anthology, Science Fiction",Fly through some of the most iconic Star Wars ...
1422,s1423,Movie,Your Friend the Rat,Jim Capobianco,"Patton Oswalt, Peter Sohn, Lou Romano, Tony Ru...",United States,"November 12, 2019",2007,TV-G,13 min,"Animation, Comedy, Family",Remy explains why humans and rats should get a...
975,s976,TV Show,Jessie,NaN,"Debby Ryan, Peyton List, Cameron Boyce, Karan ...",United States,"November 12, 2019",2011,TV-PG,4 Seasons,"Comedy, Coming of Age, Family",A small-town girl becomes a nanny for a quirky...
219,s220,TV Show,Ice Road Rescue,NaN,"David Wartnaby, Bjørn Lægreid, Thord Paulsen",United Kingdom,"May 21, 2021",2015,TV-14,5 Seasons,"Docuseries, Reality, Survival",Ice Road Rescue follows Norwegian towing teams...
164,s165,Movie,Secrets of the Bull Shark,NaN,Keston John,NaN,"July 16, 2021",2020,TV-14,44 min,"Animals & Nature, Documentary",Secrets of the Bull Shark unravels the mystery...

In [21]:
df_netflix.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6864,s6865,Movie,Gol Maal,Hrishikesh Mukherjee,"Amol Palekar, Bindiya Goswami, Deven Verma, Ut...",India,"December 31, 2019",1979,TV-PG,137 min,"Classic Movies, Comedies, International Movies",When circumstances at work compel Ram to prete...
4922,s4923,Movie,Mercury 13,"David Sington, Heather Walsh",NaN,United States,"April 20, 2018",2018,TV-PG,79 min,Documentaries,"After rigorous testing in 1961, a small group ..."
7602,s7603,Movie,NOVA: Chinese Chariot Revealed,Giulia Clark,Eric Meyers,United States,"July 1, 2019",2017,TV-PG,54 min,Documentaries,The chariot dominated Chinese warfare for mill...
2826,s2827,TV Show,On My Block,NaN,"Sierra Capri, Jason Genao, Brett Gray, Diego T...",United States,"March 11, 2020",2020,TV-14,3 Seasons,"Romantic TV Shows, TV Comedies, TV Dramas",In a rough inner-city Los Angeles neighborhood...
5294,s5295,Movie,Brother's Shadow,Todd S. Yellin,"Scott Cohen, Judd Hirsch, Susan Floyd, Elliot ...",United States,"September 1, 2017",2006,TV-MA,90 min,"Dramas, Independent Movies","After serving time in jail, a disgraced son re..."

In [22]:
df_netflix.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8809,8808,8807,6173,7983,7976,8797,8807,8803,8804,8806,8806
unique,8809,3,8807,4528,7693,749,1768,75,18,221,514,8774
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",2018,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2817,109,1147,3207,1793,362,4

In [23]:
df_disney.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,1450,1450,1450,977,1260,1231,1447,1450.000000,1447,1450,1450,1450
unique,1450,2,1450,609,1193,89,167,NaN,9,158,329,1448
top,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,Jack Hannah,Winston Hibler,United States,"November 12, 2019",NaN,TV-G,1 Season,"Animation, Comedy, Family","Cooper and Cami Wrather co-host ""Would You Wra..."
freq,1,1052,1,17,10,1005,722,NaN,318,219,124,2
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.091724,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.860162,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1928.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

**Una vez realizado un analisis inicial de los datos es posible determinar que en la plataforma de "Disney  Plus" los datos estan mas completos, y en los datos correspondientes a la plataforma "Netflix" el principal problema es que la informacion no esta normalizada, sobre todo los campos de fecha donde se observan fechas en formato texto, numero y nulos.
va a ser necesario limpiar y trasformar estos datos para poder cargarlos a la base de datos**

In [24]:
# len(df_disney[pd.isna(df_disney.show_id)])
len(df_disney[pd.isna(df_disney.date_added)])

3

**Procedemos a transformar los dataframes para poder proceder a la carga**

Establecemos un codigo de plataforma que permita crear una relacion a una tabla plataforma para saber idenficar a que servicio pertenece cada titulo

In [25]:

df_netflix['plataforma_id'] = 1
df_disney['plataforma_id'] = 2

**Porcedemos a transformar las fechas para posteriormente poder relacionarlo a una tabla calendario**

In [26]:
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'], errors='coerce')
df_disney['date_added'] = pd.to_datetime(df_disney['date_added'], errors='coerce')
df_netflix['release_year'] = pd.to_datetime(df_netflix['release_year'], errors='coerce')
df_disney['release_year'] = pd.to_datetime(df_disney['release_year'], errors='coerce', format='%Y')
df_netflix['release_year'] = df_netflix['release_year'].dt.strftime('%Y')
df_disney['release_year'] = df_disney['release_year'].dt.strftime('%Y')
# df_disney['release_year'].head(10)

In [27]:
df_disney.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma_id
799,s800,TV Show,Coop & Cami Ask The World (Shorts),NaN,NaN,NaN,2019-11-12,2018,TV-G,1 Season,"Comedy, Family, Game Show / Competition","Cooper and Cami Wrather co-host ""Would You Wra...",2
642,s643,Movie,Loop,Erica Milsom,"Madison Bandy, Christiano Delgado, Louis Gonza...",United States,2020-01-10,2020,PG,12 min,"Animation, Family","Adrift on a lake, two kids with different ways...",2
47,s48,Movie,Snow Buddies,Robert Vince,"Dominic Scott Kay, John Kapelos, Lise Simms, M...",United States,2021-11-05,2008,G,91 min,"Action-Adventure, Comedy, Kids",Disney’s favorite talking pups put one paw in ...,2
981,s982,Movie,Journey to the Center of the Earth,Henry Levin,"Pat Boone, James Mason, Arlene Dahl, Diane Bak...",United States,2019-11-12,1959,G,130 min,"Action-Adventure, Family, Science Fiction",A professor and his colleague engage in a race...,2
1139,s1140,Movie,Pluto's Surprise Package,Charles Nichols,NaN,United States,2019-11-12,1949,TV-G,7 min,"Animation, Comedy, Family","Pluto tries to bring in the mail, but one parc...",2

In [28]:
df_netflix.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma_id
303,s304,Movie,Esperando la carroza,Alejandro Doria,"Luis Brandoni, China Zorrilla, Antonio Gasalla...",Argentina,2021-08-05,1985,TV-MA,95 min,"Comedies, Cult Movies, International Movies",Cora has three sons and a daughter and she´s a...,1
4868,s4869,Movie,The Kissing Booth,Vince Marcello,"Joey King, Joel Courtney, Jacob Elordi, Molly ...","United Kingdom, United States",2018-05-11,2018,TV-14,105 min,"Comedies, Romantic Movies",When teenager Elle's first kiss leads to a for...,1
7619,s7620,Movie,November Criminals,Sacha Gervasi,"Ansel Elgort, Chloë Grace Moretz, David Strath...",United States,2020-07-03,2017,PG-13,86 min,"Dramas, Thrillers","Dissatisfied with the police’s progress, a tee...",1
8236,s8236,TV Show,The Calling,Bumpy,NaN,India,2019-04-01,2018,TV-MA,1 Season,"International TV Shows, Reality TV",Food-crazed travel junkies journey across Indi...,1
1388,s1389,Movie,The White Tiger,Ramin Bahrani,"Adarsh Gourav, Rajkummar Rao, Priyanka Chopra ...","India, United States",2021-01-22,2021,R,127 min,Dramas,The ambitious driver for a rich Indian family ...,1

In [29]:
len(df_netflix.description[7264])

150