In [87]:
from sqlalchemy import text
from conect_database import engine
# from conect_database import engine2
import pandas as pd

In [82]:
dataframe = pd.DataFrame({'plataforma_id':[1,2],'plataforma':['Netflix', 'Disney']})
dataframe

   plataforma_id plataforma
0              1    Netflix
1              2     Disney

In [3]:
query_load = """LOAD DATA INFILE '../disney_plus_titles_data.csv'
                INTO TABLE shows
                FIELDS TERMINATED BY ','
                OPTIONALLY ENCLOSED BY '"'
                LINES TERMINATED BY '\r\n';"""

In [40]:
conection2 = engine.connect()

In [ ]:
# engine.execute(text("INSERT INTO plataforma (plataforma_id, Plataforma) VALUES ('2','Disney');"))
# engine.execute(text("LOAD DATA INFILE '../netflix_titles_data.csv' INTO TABLE shows;"))
# engine.execute("INSERT INTO plataforma (plataforma_id, Plataforma) VALUES ('4','Prime');")
engine.execute("INSERT INTO plataforma () VALUES ('dataframe');")

In [ ]:
with engine.connect() as connection:
    carga = connection.execute(text("INSERT INTO `calendario` (plataforma_id, Plataforma) VALUES ('1','Netflix');"))
    # result = connection.execute(text("select * from calendario"))
    # carga = connection.execute(text("load data infile '../netflix_titles_data.csv' into table shows field terminated by ',' lines terminated by '\r\n'";))
    # for row in result:
    #     print(row)

In [ ]:
with engine.connect() as connection:
    with connection.begin():
        connection.execute(plataforma.select())
        connection.execute(plataforma.insert(), {"date": 7, "year": "this is some data"})

In [ ]:
conection2.execute(text("""LOAD DATA INFILE '../disney_plus_titles_data.csv'
                            INTO TABLE shows"""
                            ))

In [ ]:
conection2.execute(text("load data infile '../netflix_titles_data.csv' into table shows field terminated by ',' lines terminated by '\r\n';"))